@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat&display=swap");

html {
  font-family: "Cardo", serif;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
}

/* NAVBAR START */

nav {
  font-size: 21px;
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 100%;
  text-transform: uppercase;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;

  -webkit-box-shadow: 0 8px 6px -6px grey;
  -moz-box-shadow: 0 8px 6px -6px grey;
  box-shadow: 0 8px 6px -6px grey;
}
nav a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

nav a:hover {
  color: red;
  transition: 0.4s ease-in-out;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  nav {
    font-size: 14px;
    transition: 0.4s;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 340px) {
  nav {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
}

/* NAVBAR END */

section {
  width: 100%;
}

.home {
  margin-top: 8vh;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: black;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 90%;
  color: black;
  padding-bottom: 5vh;
}

.title:hover {
  color: red;

  transition: 0.4s ease-in-out;
}

.text {
  font-family: "Cardo", serif;
  font-size: 30px;
  width: 80%;
  color: black;
  padding-bottom: 5vh;
}

.text:hover {
  color: red;
  transition: 0.4s ease-in-out;
}
.text2 {
  font-family: "Cardo", serif;
  font-size: 20px;
  width: 80%;
  color: crimson;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  .title {
    font-size: 32px;
  }

  .text {
    font-size: 24px;
  }

  .text2 {
    font-size: 18px;
  }
}

.portfolio {
  height: 90vh;
}
.contact {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("/images/contactedit.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contacttext {
  background-color: lightskyblue;
  border-radius: 15px;
  color: white;
  font-size: 32px;
  text-align: center;
}

.contacttext a {
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
